*{
  scroll-behavior: smooth;
}
.react-chatbot-kit-chat-message-container::-webkit-scrollbar{
  display: none !important;
}

.App {
  text-align: center !important;
  display: flex !important;
  justify-content: space-evenly !important;
  height: 100vh !important;
  width: 100vw !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  background: #c94b4b !important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,var(--gradient1), var(--gradient2)) !important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,var(--gradient1), var(--gradient2)) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Chatbot-header {
  background-color: var(--foregroundTertiary) !important;
  padding: 5px !important;
  border-radius: 6px 6px 0px 0px !important;
  color: var(--backgroundSecondary) !important;
}

.react-chatbot-kit-chat-bot-avatar-icon {
  width: unset !important;
  height: unset !important;
}

.react-chatbot-kit-chat-bot-avatar-container {
  background-color: unset !important;
}

.react-chatbot-kit-chat-bot-message {
  font-family: 'Jetbrains' !important;
  border-radius: 0px 0px 0px 0px !important;
  margin-left: unset !important;
  width: 50vw !important;
}

.react-chatbot-kit-chat-container {
  width: auto !important;
}

.react-chatbot-kit-chat-inner-container {
  margin: 15px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 50vw !important;
  height: auto !important;
  box-shadow: 16px 16px 40px var(--foregroundPrimary),
              -16px 16px 50px var(--foregroundSecondary) !important;
  background: #141E30 !important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #243B55, #141E30) !important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #243B55, #141E30) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: var(--foregroundPrimary) !important;
}

.react-chatbot-kit-chat-input {
  font-size: 1.1rem !important;
  outline: none !important;
  background: #768a97 !important;
  width: calc(100vw - 155px) !important;
  color: white !important;
}

.react-chatbot-kit-chat-input-container {
  top: 87vh !important;
  bottom: unset !important;
}

.react-chatbot-kit-chat-message-container {
  height: 84vh !important;
}

.code-viewer-container {
  font-family: 'Courier New', Courier, monospace !important;
  color: var(--foregroundTertiary) !important;
  background-color: var(--backgroundPrimary) !important;
  max-width: 50vw !important;
  text-align: left !important;
  border: 2px solid grey !important;
}

.react-chatbot-kit-chat-bot-message {
  background-color: var(--backgroundPrimary) !important;
  color: var(--foregroundTertiary) !important;
}

.react-chatbot-kit-chat-bot-message-arrow {
  border-right: 8px solid var(--backgroundPrimary) !important;
}

.react-chatbot-kit-chat-btn-send {
  width: calc(50vw - 42.2vw) !important;
  background-color: var(--backgroundPrimary) !important;
}

.robot {
  /* position: absolute !important; */
  /* left: 1% !important; */
  /* top: 50vh !important; */
  height: 100% !important;
  filter: drop-shadow(10px -6px 1px var(--robot)) !important;
}


@media only screen and (max-width: 500px) {
  .App {
    flex-direction: column !important;
    margin-top: 0 !important;
  }
  .react-chatbot-kit-chat-inner-container {
    width: 80vw !important;
    height: 50vh !important;
  }
  .react-chatbot-kit-chat-message-container {
    height: 40vh !important;
  }
  .react-chatbot-kit-chat-input-container {
    top: 45vh !important;
  }
  .react-chatbot-kit-chat-input {
    font-size: 0.7rem !important;
  }
  .react-chatbot-kit-chat-btn-send {
    width: 22vw !important;
  }
}


body{
  overflow-x: hidden !important;
}
