
body {
    --foregroundPrimary: #222;
    --foregroundSecondary: rgba(121, 24, 0, 0.377);
    --foregroundTertiary: #272727;
    --backgroundPrimary: #6eb0fc;
    --backgroundSecondary: #d8d8d8;
    --gradient1: #4b134f;
    --gradient2: #c94b4b;
    --robot: #0000003d;
}
html.dark body {
    --foregroundPrimary: #747474;
    --foregroundSecondary: #000000;
    --foregroundTertiary: #a8a8a8;
    --backgroundPrimary: #2b2b2b;
    --backgroundSecondary: #222;
    --gradient1: #000000;
    --gradient2: #363636;
    --robot: #ffffff28;
}
@media (prefers-color-scheme: dark) {
    body {
        --foregroundPrimary: #222;
        --foregroundSecondary: rgba(121, 24, 0, 0.377);
        --foregroundTertiary: #272727;
        --backgroundPrimary: #6eb0fc;
        --backgroundSecondary: #d8d8d8;
        --gradient1: #4b134f;
        --gradient2: #c94b4b;
        --robot: #0000003d;
   }
   html.dark body {
    --foregroundPrimary: #747474;
    --foregroundSecondary: #000000;
    --foregroundTertiary: #a8a8a8;
    --backgroundPrimary: #2b2b2b;
    --backgroundSecondary: #222;
    --gradient1: #000000;
    --gradient2: #363636;
    --robot: #ffffff28;
   }
}

.toggle {
    position: absolute;
    left: 3vw;
    top: 3vh;
    /* border: 2px solid green; */
    --size: 2rem;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: none;
    cursor: pointer;
    width: var(--size);
    height: var(--size);
    box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
    border-radius: 999px;
    color: #e6e6ff;
    transition: all 500ms;
    z-index: 5;
}
.toggle:checked {
    --ray-size: calc(var(--size) * -0.4);
    --offset-orthogonal: calc(var(--size) * 0.65);
    --offset-diagonal: calc(var(--size) * 0.45);
    transform: scale(0.75);
    color: #ffaa00;
    box-shadow: inset 0 0 0 var(--size), calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size), var(--offset-orthogonal) 0 0 var(--ray-size), 0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size), 0 var(--offset-orthogonal) 0 var(--ray-size), calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0 var(--ray-size), var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size), calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size), var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size);
}